[submodule "dreamsmasher"]
	path = dreamsmasher
	url = https://github.com/dreamsmasher/advent-of-code-2021.git
[submodule "3-Hz"]
	path = 3-Hz/Advent2021
	url = https://github.com/3-Hz/Advent2021.git
